@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111;
  color: #fff;
  font-family: "Balsamic Sans", cursive;
  position: relative;
}
h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0.6rem;
}
p {
  font-size: 2rem;
}
.Months {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 10px;
  z-index: 1;
}
.Months > div:nth-child(1) {
  grid-column: 1/3;
}
.Months > div:nth-child(5) {
  grid-column: 2/4;
}
.Months > div:nth-child(7) {
  grid-column: 1/3;
}
.Months > div:nth-child(9) {
  grid-column: 4/5;
}
.Months > div:nth-child(12) {
  grid-column: 3/5;
}
.Months > div {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in;
}
.bg {
  filter: blur(8px);
}
.text-anime {
  animation: text_anime 1.5s ease;
  text-shadow: 1px 2px 3px #111;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 0.4rem;
}
@keyframes text_anime {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.Winter {
  background: url(/images/winter.jpg);
}
.Spring {
  background: url(/images/spring.jpg);
}
.Summer {
  background: url(/images/summer.jpg);
}
.Fall {
  background: url(/images/fall.jpg);
}
/* Seasons */
#Seasons {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: grid;
  gap: 15px 10px;
}
.season {
  height: 100%;
  background-color: red;
  z-index: 3;
  transition: 1s ease-in;
  /* style text */
  font-size: 6rem;
  letter-spacing: 5px;
  text-shadow: 1px 2px 3px #111;
  display: flex;
  /* horizontal align to center of container */
  justify-content: center;
  /* vertical aligns to center */
  align-items: center;
  cursor: pointer;
}
